
/* 加载动画样式 */
#love_loading[data-v-c2886f2e] {
    width: 100%;
    display: flex; /*弹性盒模型*/
    justify-content: center; /*主轴方向居中显示*/
    align-items: center; /*交叉轴方向居中显示*/
    height: 100vh;
    background-color: #232e6d;
    z-index: 999999;
}
#love_loading ul[data-v-c2886f2e] {
    height: 0;
}
#love_loading li[data-v-c2886f2e] {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 10px;
}
#love_loading li[data-v-c2886f2e]:nth-child(1) {
    background-color: #f62e74;
    animation: love1-c2886f2e 4s infinite;
}
#love_loading li[data-v-c2886f2e]:nth-child(2) {
    background-color: #f45330;
    animation: love2-c2886f2e 4s infinite;
    animation-delay: 0.15s;
}
#love_loading li[data-v-c2886f2e]:nth-child(3) {
    background-color: #ffc883;
    animation: love3-c2886f2e 4s infinite;
    animation-delay: 0.3s;
}
#love_loading li[data-v-c2886f2e]:nth-child(4) {
    background-color: #30d268;
    animation: love4-c2886f2e 4s infinite;
    animation-delay: 0.45s;
}
#love_loading li[data-v-c2886f2e]:nth-child(5) {
    background-color: #006cb4;
    animation: love5-c2886f2e 4s infinite;
    animation-delay: 0.6s;
}
#love_loading li[data-v-c2886f2e]:nth-child(6) {
    background-color: #784697;
    animation: love4-c2886f2e 4s infinite;
    animation-delay: 0.75s;
}
#love_loading li[data-v-c2886f2e]:nth-child(7) {
    background-color: #ffc883;
    animation: love3-c2886f2e 4s infinite;
    animation-delay: 0.9s;
}
#love_loading li[data-v-c2886f2e]:nth-child(8) {
    background-color: #f45330;
    animation: love2-c2886f2e 4s infinite;
    animation-delay: 1.05s;
}
#love_loading li[data-v-c2886f2e]:nth-child(9) {
    background-color: #f62e74;
    animation: love1-c2886f2e 4s infinite;
    animation-delay: 1.2s;
}
@keyframes love1-c2886f2e {
30%, 50% {
        height: 60px;
        transform: translateY(-30px);
}
75%, 100% {
        height: 20px;
        transform: translateY(0);
}
}
@keyframes love2-c2886f2e {
30%, 50% {
        height: 125px;
        transform: translateY(-62.5px);
}
75%, 100% {
        height: 20px;
        transform: translateY(0);
}
}
@keyframes love3-c2886f2e {
30%, 50% {
        height: 160px;
        transform: translateY(-75px);
}
75%, 100% {
        height: 20px;
        transform: translateY(0);
}
}
@keyframes love4-c2886f2e {
30%, 50% {
        height: 180px;
        transform: translateY(-60px);
}
75%, 100% {
        height: 20px;
        transform: translateY(0);
}
}
@keyframes love5-c2886f2e {
30%, 50% {
        height: 190px;
        transform: translateY(-45px);
}
75%, 100% {
        height: 20px;
        transform: translateY(0);
}
}

.text-red[data-v-0d8e1ba8]{color:red}#JavDB-dataList[data-v-0d8e1ba8]{backdrop-filter:blur(8px) saturate(200%);-webkit-backdrop-filter:blur(8px) saturate(200%);background-color:rgba(255,255,255,.35);border:1px solid rgba(209,213,219,.3)}#JavDB-dataList[data-v-0d8e1ba8]::-webkit-scrollbar{width:.5rem;height:.5rem;background-color:#fff;border-radius:.375rem}#JavDB-dataList[data-v-0d8e1ba8]::-webkit-scrollbar-track{box-shadow:inset 0 0 0px rgba(240,240,240,.5);border-radius:8px;background-color:rgba(240,240,240,.5)}#JavDB-dataList[data-v-0d8e1ba8]::-webkit-scrollbar-thumb{border-radius:8px;box-shadow:inset 0 0 0px #94b0ef;background-color:#0d6efd}

.search-box[data-v-ef08b882] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
/* From Uiverse.io by ZAKARIAE48CHELLE */
.input-wrapper[data-v-ef08b882] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}
.input[data-v-ef08b882] {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  background-color: #0d6efd;
  box-shadow: 0px 0px 3px #0d6efd;
  padding-right: 40px;
  color: #fff;
}
.input[data-v-ef08b882]::-moz-placeholder {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}
.input[data-v-ef08b882]::placeholder,
.input[data-v-ef08b882] {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}
.input[data-v-ef08b882]::-moz-placeholder {
  color: #d0d0d0;
}
.input[data-v-ef08b882]::placeholder {
  color: #d0d0d0;
}
.icon[data-v-ef08b882] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: 0.2s linear;
}
.icon:focus ~ .input[data-v-ef08b882],
.input[data-v-ef08b882]:focus {
  box-shadow: none;
  width: var(--computed-width, 250px);
  border-radius: 3px;
  background-color: #0d6dfd56;
  border-bottom: 3px solid #0d6efd;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

#JavDB-head[data-v-4384c866]{backdrop-filter:blur(8px) saturate(200%);-webkit-backdrop-filter:blur(8px) saturate(200%);background-color:rgba(255,255,255,.35);border:1px solid rgba(209,213,219,.3)}.option-box .item[data-v-4384c866]{display:inline-block;padding:.7em 1.7em;font-size:1.0625rem;cursor:pointer;text-decoration:none;margin:0 8px}
*{padding:0;margin:0;box-sizing:border-box}body{width:100%;height:100vh;position:relative;font-family:Verdana,Arial,Helvetica,sans-serif;background-image:url(../img/bg.74ff6f26.png);background-size:cover;background-attachment:fixed;background-position:center}body:before{content:"";position:absolute;height:100%;width:100%;opacity:.3;background:radial-gradient(#d2f1df, #d3d7fa, #bad8f4) 0 0/400% 400%;animation:15s ease 0s infinite normal none running gradient}a{text-decoration:none}ul,ol,li{list-style:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}*:after,*:before{box-sizing:border-box}.toe{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.Flex{display:flex}
