.fanhao-box[data-v-49174479]{padding:1rem 0;backdrop-filter:blur(15px) saturate(180%);-webkit-backdrop-filter:blur(15px) saturate(180%);background-color:rgba(255,255,255,.75);border-radius:.375rem}.title[data-v-49174479]{font-size:1.25rem;font-weight:bolder;padding:.3125rem 0;color:red}
.series-list[data-v-f5a1e5bc]{padding:15px;border:1px solid #ccc;border-radius:5px}

#components-layout-demo-responsive .logo {
  height: 38px;
  background: url(../img/logo.809b5123.png) no-repeat center center;
  background-size: cover; /* 让图片撑满整个容器 */
  margin: 15px;
}
.vertically-centered {
  display: flex;
  align-items: center;
  height: 100%;
}
.ant-card-body {
  overflow: hidden;
  padding: 15px !important;
}
.ant-card-body img {
  transition: transform 0.8s ease;
}
.ant-card-body:hover img {
  transform: scale(1.8);
}
.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1890ff;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

#app{height:100vh}
