@font-face {
  font-family: "iconfont"; /* Project id 4046644 */
  src: url('iconfont.woff2?t=1709543542387') format('woff2'),
       url('iconfont.woff?t=1709543542387') format('woff'),
       url('iconfont.ttf?t=1709543542387') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e603";
  font-size: 1.125rem;
  color: #acacac;
}

.icon-liangsemoshi:before {
  content: "\e6b3";
  font-size: 1.03125rem;
  color: #ed510a;
}

.icon-anse:before {
  content: "\e655";
  font-size: 1.03125rem;
  color: #484848;
}

