* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

*:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* 溢出省略 */
.toe {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toe-3 {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.toe-4 {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.toe-6 {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.Flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-1 {
    flex: 1;
}

.skeleton-img {
    opacity: 1;
    animation: skeleton-img-loading 1s linear infinite alternate;
}
@keyframes skeleton-text-loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
@keyframes skeleton-img-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.project {
    width: 100%;
}

.project__image {
    display: block;
    position: relative;
}
.project__image img {
    width: 100%;
    max-width: 100%;
    display: block;
}
.project__image:after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
    transition: opacity .3s ease;
    opacity: 0;
}
.project__card {
    position: relative;
    will-change: transform;
    transition: box-shadow .3s ease;
    box-shadow: 0 10px 30px transparent;
}
.project__card.hover-in {
    transition: transform .2s ease-out;
}
.project__card.hover-out {
    transition: transform .2s ease-in;
}
.project:hover .project__card {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
.project:hover .project__image:after {
    opacity: 1;
}
.project:hover .project__detail {
    border-width: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
.project:hover .project__title, .project:hover .project__category {
    transform: translateY(0) scale(1);
    opacity: 1;
}
.project__detail {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    transform: translateZ(30px);
    border: 0 solid #2971ef;
    transition: border .4s ease;
}
.project__title {
    margin: 0 0 10px;
    font-size: 36px;
    font-weight: 700;
    transition: .4s ease;
    opacity: 0;
    transform: translateY(40px) scale(0);
    will-change: transform;
}
.project__title a {
    color: white;
}
.project__category {
    opacity: 0;
    transition: .4s ease;
    transition-delay: .1s;
    transform: translateY(40px) scale(0);
    will-change: transform;
}
.project__category a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.3em;
}
