html[data-theme=light] .app_wrap {
  background: #d9d9d9;
}
html[data-theme=dark] .app_wrap {
  background: #414247;
}

html[data-theme=light] .nav_box {
  background: #fff;
  color: #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
html[data-theme=dark] .nav_box {
  background: #252525;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

html[data-theme=light] .nav_box a {
  color: #000;
}
html[data-theme=dark] .nav_box a {
  color: #fff;
}

html[data-theme=light] .dropdown-menu-box {
  background: #fff;
  color: #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
html[data-theme=dark] .dropdown-menu-box {
  background: #252525;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

html[data-theme=light] .dropdown-menu-box li a:hover {
  background: #666666;
  color: #000;
}
html[data-theme=dark] .dropdown-menu-box li a:hover {
  background: #a7a6a6;
  color: #fff;
}

html[data-theme=light] .search_box .search_wrap {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
html[data-theme=dark] .search_box .search_wrap {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search_box .search_wrap .search_but {
  color: #fff;
}
html[data-theme=light] .search_box .search_wrap .search_but {
  background: #2971ef;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
html[data-theme=dark] .search_box .search_wrap .search_but {
  background: #2971ef;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

html[data-theme=light] .data_title, html[data-theme=light] .data_text {
  color: #000;
}
html[data-theme=dark] .data_title, html[data-theme=dark] .data_text {
  color: #fff;
}

html[data-theme=light] #data_list a {
  color: #000;
}
html[data-theme=dark] #data_list a {
  color: #fff;
}

html[data-theme=light] #data_list .item {
  background: #fff;
  color: #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
html[data-theme=dark] #data_list .item {
  background: #252525;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#data_list .item a:hover {
  color: #2971ef;
}

.data_coverImage {
  width: 250px;
  height: 150px;
}

#data_list_wrap .clickable {
  cursor: pointer;
}

.data_coverImage::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
html[data-theme=light] .data_coverImage::before {
  background-image: linear-gradient(to left, #fff, transparent 30%);
}
html[data-theme=dark] .data_coverImage::before {
  background-image: linear-gradient(to left, #252525, transparent 30%);
}

.data_coverImage img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

html[data-theme=light] .searchBoxBanner {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
html[data-theme=dark] .searchBoxBanner {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.searchBoxBanner img {
  height: 100%;
  object-fit: cover !important;
  width: 100%;
}

#latestRelease_box .right_col_box .item, #allArticles_box .right_col_box .item, .data_box_wrap .right_sidebar .item {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  /*background: rgb(0,0,0,0.6);
  color: #fff;*/
}
html[data-theme=light] #latestRelease_box .right_col_box .item, html[data-theme=light] #allArticles_box .right_col_box .item, html[data-theme=light] .data_box_wrap .right_sidebar .item {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.65);
  color: #000;
}
html[data-theme=dark] #latestRelease_box .right_col_box .item, html[data-theme=dark] #allArticles_box .right_col_box .item, html[data-theme=dark] .data_box_wrap .right_sidebar .item {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(30, 30, 30, 0.65);
  color: #fff;
}

#latestRelease_box .right_col_box .items:hover a > .item,
#allArticles_box .right_col_box .items:hover a > .item,
.data_box_wrap .right_sidebar .items:hover a > .item {
  color: #2971ef;
}

.searchButton svg {
  margin-bottom: 3px;
}
html[data-theme=light] .searchButton svg {
  filter: brightness(0);
}
html[data-theme=dark] .searchButton svg {
  filter: brightness(100);
}

html[data-theme=light] .data_box_wrap .left_sidebar .wrap, html[data-theme=light] .data_box_wrap .right_sidebar .wrap {
  background: #fff;
  color: #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
html[data-theme=dark] .data_box_wrap .left_sidebar .wrap, html[data-theme=dark] .data_box_wrap .right_sidebar .wrap {
  background: #252525;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#latestRelease_box .right_col_box .items_wrap {
  align-items: center !important;
}

html[data-theme=light] #latestRelease_box .wrap {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
}
html[data-theme=dark] #latestRelease_box .wrap {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #252525;
}

html[data-theme=light] #allArticles_box .wrap {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
}
html[data-theme=dark] #allArticles_box .wrap {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #252525;
}

html[data-theme=light] .footer_box {
  background: #fff;
  color: #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
html[data-theme=dark] .footer_box {
  background: #252525;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

html[data-theme=light] .contactInformation_box svg > path {
  fill: #000;
}
html[data-theme=dark] .contactInformation_box svg > path {
  fill: #fff;
}

.right_sidebar {
  counter-reset: step;
  counter-increment: step 0;
}

.right_sidebar .item_number::before {
  content: counter(step);
  counter-increment: step;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  width: 25px;
  text-align: center;
  border-radius: 25px;
  padding: 0 5px;
  z-index: 2;
}
html[data-theme=light] .right_sidebar .item_number::before {
  color: #000;
  background: #fff;
  border: 1px solid #000;
}
html[data-theme=dark] .right_sidebar .item_number::before {
  color: #fff;
  background: #252525;
  border: 1px solid #fff;
}

@media (min-width: 992px) {
  .col-lg-item {
    flex: 0 0 auto;
    width: 49.6%;
  }
}
@media screen and (max-width: 992px) {
  .search_box {
    width: 100% !important;
  }
  .data_coverImage {
    width: 100% !important;
    height: 155px !important;
    border-radius: 0.25rem !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .searchButton svg {
    margin-bottom: 0;
  }
  .data_coverImage::before {
    width: 0;
  }
}

/*# sourceMappingURL=main.css.map */
