$themes: (
        light: (
                bgColor_1: #fff,
                bgColor_2: #d9d9d9,
                textColor: #000,
                hoverbgColor: #666666,
                buttonBgColor: #2971ef,
                boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px,
                svgfilter: brightness(0),
                svgfilter_two: #000,
                backgroundImage: linear-gradient(to left, #fff, transparent 30%),
                borderColor: 1px solid #000,
                glassmorphism: blur(16px) saturate(180%),
                glassmorphismBackground: rgba(255, 255, 255, 0.65),
        ),
        dark: (
                bgColor_1: #252525,
                bgColor_2: #414247,
                textColor: #fff,
                hoverbgColor: #a7a6a6,
                buttonBgColor: #2971ef,
                boxShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
                svgfilter: brightness(100),
                svgfilter_two: #fff,
                backgroundImage: linear-gradient(to left, #252525, transparent 30%),
                borderColor: 1px solid #fff,
                glassmorphism: blur(16px) saturate(180%),
                glassmorphismBackground: rgba(30, 30, 30, 0.65),
        ),
);

$curTheme: light;

@mixin useThemes(){
  @each $key, $value in $themes{
    $curTheme: $key !global;
    html[data-theme=#{$key}] &{
      @content;
    }
  }
}

@function getVar($key){
  $themeMap: map-get($themes, $curTheme);
  @return map-get($themeMap,$key);
}


// 使用方法，@include useThemes
//     ***{
//        // 调用上面定义的 useThemes mixin，应用于当前的 *** 元素
//        @include useThemes{
//          // 从当前主题中获取背景颜色并应用于 *** 元素的背景色
//          background: getVar('bgColor');
//          // 从当前主题中获取文本颜色并应用于 *** 元素的文本颜色
//          color: getVar('textColor');
//         }
//      }

.app_wrap{
  @include useThemes{
    background: getVar('bgColor_2');
  }
}

.nav_box{
  @include useThemes{
    background: getVar('bgColor_1');
    color: getVar('textColor');
    box-shadow: getVar('boxShadow');
  }
}

.nav_box a{
  @include useThemes{
    color: getVar('textColor');
  }
}

.dropdown-menu-box{
  @include useThemes{
    background: getVar('bgColor_1');
    color: getVar('textColor');
    box-shadow: getVar('boxShadow');
  }
}

.dropdown-menu-box li a:hover{
  @include useThemes{
    background: getVar('hoverbgColor');
    color: getVar('textColor');
  }
}

.search_box .search_wrap{
  @include useThemes{
    box-shadow: getVar('boxShadow');
  }
}

.search_box .search_wrap .search_but{
  @include useThemes{
    background: getVar('buttonBgColor');
    box-shadow: getVar('boxShadow');
  }
  color: #fff;
}

.data_title, .data_text{
  @include useThemes{
    color: getVar('textColor');
  }
}

#data_list a{
  @include useThemes{
    color: getVar('textColor');
  }
}

#data_list .item{
  @include useThemes{
    background: getVar('bgColor_1');
    color: getVar('textColor');
    box-shadow: getVar('boxShadow');
  }
}

#data_list .item a:hover{
  color: #2971ef;
}

.data_coverImage{
    width: 250px;
    height: 150px;
}

#data_list_wrap .clickable{
  cursor: pointer;
}

.data_coverImage::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  @include useThemes{
    background-image: getVar('backgroundImage');
  }
}

.data_coverImage img{width: 100%;height: 100%;object-fit: cover !important;}

.searchBoxBanner{
  @include useThemes{
    box-shadow: getVar('boxShadow');
  }
}

.searchBoxBanner img{
  height: 100%;
  object-fit: cover !important;
  width: 100%;
}

#latestRelease_box .right_col_box .item, #allArticles_box .right_col_box .item, .data_box_wrap .right_sidebar .item{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  @include useThemes{
    backdrop-filter: getVar('glassmorphism');
    background-color: getVar('glassmorphismBackground');
    color: getVar('textColor');
  }
  /*background: rgb(0,0,0,0.6);
  color: #fff;*/
}

#latestRelease_box .right_col_box .items:hover a,
#allArticles_box  .right_col_box .items:hover a,
.data_box_wrap .right_sidebar .items:hover a{
  > .item{
    color: #2971ef;
  }
}

.searchButton svg{
  margin-bottom: 3px;
  @include useThemes{
    filter: getVar('svgfilter');
  }
}

.data_box_wrap .left_sidebar .wrap, .data_box_wrap .right_sidebar .wrap{
  @include useThemes{
    background: getVar('bgColor_1');
    color: getVar('textColor');
    box-shadow: getVar('boxShadow');
  }
}

#latestRelease_box .right_col_box .items_wrap{
  align-items: center !important;
}

#latestRelease_box .wrap{
  @include useThemes{
    box-shadow: getVar('boxShadow');
    background: getVar('bgColor_1');
  }
}

#allArticles_box .wrap{
  @include useThemes{
    box-shadow: getVar('boxShadow');
    background: getVar('bgColor_1');
  }
}

.footer_box{
  @include useThemes{
    background: getVar('bgColor_1');
    color: getVar('textColor');
    box-shadow: getVar('boxShadow');
  }
}

.contactInformation_box svg > path{
  @include useThemes{
    fill: getVar('svgfilter_two');
  }
}

.right_sidebar{
  counter-reset: step;
  counter-increment: step 0;
}

.right_sidebar .item_number::before{
  content: counter(step);
  counter-increment: step;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  width: 25px;
  text-align: center;
  border-radius: 25px;
  padding: 0 5px;
  @include useThemes{
    color: getVar('textColor');
    background: getVar('bgColor_1');
    border: getVar('borderColor');
  }
  z-index: 2;
}

@media (min-width: 992px){
  .col-lg-item{
    flex: 0 0 auto;
    width: 49.6%;
  }
}

@media screen and (max-width: 992px){
  .search_box{
      width: 100% !important;
  }
  .data_coverImage{
    width: 100% !important;
    height: 155px !important;
    border-radius: 0.25rem !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .searchButton svg{margin-bottom: 0;}
  .data_coverImage::before{width: 0;}
}